.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.details{
    width: 24rem;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}